*::selection{
  background-color: orange;
}

body{
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(223deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,96,116,1) 100%);  width: 100vw;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

br{
  user-select: none;
}

a{
  user-select: none;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 20px;
  left: 35px;
  text-decoration: none;
}

fieldset{
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(76,0,93);
  background: linear-gradient(324deg, rgba(76,0,93,1) 0%, rgba(92,5,93,1) 35%, rgba(88,9,121,1) 67%, rgba(106,86,171,1) 100%);
  border-radius: 20px;
}

h1{
  font-size: 35px;
  color: black;
  text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
  user-select: text;
}

.red{
  color: red;
}

.green{
  color: green;
}

form{
  width: 590px;
}

input:not([type='checkbox']){
  box-sizing: border-box;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 21px;
  width: 240px;
  height: 48px;
  margin: 10px;
  font-size: 22px;
  padding-left: 15px;
  caret-color: purple;
}

label{
  margin: 10px;
  font-size: 23px;
  user-select: none;
}

label input{
  margin-right: 8px;
}

input::placeholder{
  font-size: 22px;
  position: relative;
  top: 2px;
  user-select: none;
}

select{
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-radius: 29px;
  width: 80px;
  height: 48px;
  margin: 10px;
  padding-right: 25px;
  position: relative;
  bottom: 1px;
  font-size: 18px;
  user-select: none;
}

button[type='submit']{
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px white solid;
  margin: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(324deg, rgba(2,0,36,1) 0%, rgba(9,5,93,1) 35%, rgba(9,9,121,1) 67%, rgba(106,86,171,1) 100%);
  cursor: pointer;
  user-select: none;
}
